@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply text-white bg-primary;
  }
}

@layer components {
  .sidebarTitle {
    @apply font-semibold text-[18px] text-white;
  }

  .sidebarLink {
    @apply text-textColor ml-4 cursor-pointer hover:text-lightPurple transition ease-out duration-200 w-fit;
  }

  .sidebarActive {
    @apply text-lightPurple;
  }

  .moviesGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
